# Chicago Car Crash Analysis

In [1]:
import pandas as pd

In [ ]:
harshitha's test

In [10]:
df_vehicles = pd.read_csv("data/Traffic_Crashes_-_Vehicles.csv")
df_people = pd.read_csv("data/Traffic_Crashes_-_People.csv")
df_vehicles.head()

/Users/andreasbudhi/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (2,19,21,40,41,42,44,48,49,50,53,55,58,59,61,71) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,1699572,bc3c61d5dbe43abd180a650279a7623d9ecda1a520d8ff...,NaN,11/09/2023 02:40:00 AM,1,DRIVER,NaN,1617694.0,NaN,CHEVROLET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1699577,93178a4bc7997b3ef129dff65a54c3d3892a15155c05f9...,NaN,11/09/2023 02:30:00 AM,1,DRIVER,NaN,1617697.0,NaN,HYUNDAI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1699578,93178a4bc7997b3ef129dff65a54c3d3892a15155c05f9...,NaN,11/09/2023 02:30:00 AM,2,PARKED,NaN,1617698.0,NaN,ACURA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1699579,93178a4bc7997b3ef129dff65a54c3d3892a15155c05f9...,NaN,11/09/2023 02:30:00 AM,3,PARKED,NaN,1617699.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1699573,ed4ce4638847ebd835a2f72e1353938b431ecfc5e1ba26...,NaN,11/09/2023 02:20:00 AM,1,DRIVER,NaN,1617693.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778847 entries, 0 to 778846
Data columns (total 49 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                778847 non-null  object
 1   RD_NO                          774292 non-null  object
 2   CRASH_DATE_EST_I               58506 non-null   object
 3   CRASH_DATE                     778847 non-null  object
 4   POSTED_SPEED_LIMIT             778847 non-null  int64
 5   TRAFFIC_CONTROL_DEVICE         778847 non-null  object
 6   DEVICE_CONDITION               778847 non-null  object
 7   WEATHER_CONDITION              778847 non-null  object
 8   LIGHTING_CONDITION             778847 non-null  object
 9   FIRST_CRASH_TYPE               778847 non-null  object
 10  TRAFFICWAY_TYPE                778847 non-null  object
 11  LANE_CNT                       199006 non-null  float64
 12  ALIGNMENT                      778847 non-null  object
 13  ROADWAY_SURFACE_COND           778847 non-null  object
 14  ROAD_DEFECT                    778847 non-null  object
 15  REPORT_TYPE                    756258 non-null  object
 16  CRASH_TYPE                     778847 non-null  object
 17  INTERSECTION_RELATED_I         178438 non-null  object
 18  NOT_RIGHT_OF_WAY_I             36054 non-null   object
 19  HIT_AND_RUN_I                  243250 non-null  object
 20  DAMAGE                         778847 non-null  object
 21  DATE_POLICE_NOTIFIED           778847 non-null  object
 22  PRIM_CONTRIBUTORY_CAUSE        778847 non-null  object
 23  SEC_CONTRIBUTORY_CAUSE         778847 non-null  object
 24  STREET_NO                      778847 non-null  int64
 25  STREET_DIRECTION               778843 non-null  object
 26  STREET_NAME                    778846 non-null  object
 27  BEAT_OF_OCCURRENCE             778842 non-null  float64
 28  PHOTOS_TAKEN_I                 10105 non-null   object
 29  STATEMENTS_TAKEN_I             17083 non-null   object
 30  DOORING_I                      2417 non-null    object
 31  WORK_ZONE_I                    4529 non-null    object
 32  WORK_ZONE_TYPE                 3524 non-null    object
 33  WORKERS_PRESENT_I              1157 non-null    object
 34  NUM_UNITS                      778847 non-null  int64
 35  MOST_SEVERE_INJURY             777133 non-null  object
 36  INJURIES_TOTAL                 777144 non-null  float64
 37  INJURIES_FATAL                 777144 non-null  float64
 38  INJURIES_INCAPACITATING        777144 non-null  float64
 39  INJURIES_NON_INCAPACITATING    777144 non-null  float64
 40  INJURIES_REPORTED_NOT_EVIDENT  777144 non-null  float64
 41  INJURIES_NO_INDICATION         777144 non-null  float64
 42  INJURIES_UNKNOWN               777144 non-null  float64
 43  CRASH_HOUR                     778847 non-null  int64
 44  CRASH_DAY_OF_WEEK              778847 non-null  int64
 45  CRASH_MONTH                    778847 non-null  int64
 46  LATITUDE                       773629 non-null  float64
 47  LONGITUDE                      773629 non-null  float64
 48  LOCATION                       773629 non-null  object
dtypes: float64(11), int64(6), object(32)
memory usage: 291.2+ MB

778847