# Chicago Car Crash Analysis

In [1]:
import pandas as pd

In [ ]:
#harshitha's test

df_vehicles = pd.read_csv("data/Traffic_Crashes_-_Vehicles.csv")
df_people = pd.read_csv("data/Traffic_Crashes_-_People.csv")
df_vehicles.head()

In [2]:
df_crash = pd.read_csv("data/Traffic_Crashes_-_Crashes_20231109.csv")
df_people = pd.read_csv("data/Traffic_Crashes_-_People_20231109.csv")
df_vehicles = pd.read_csv("data/Traffic_Crashes_-_Vehicles_20231109.csv")

D:\Documents\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (20,24,25,26,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
D:\Documents\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (19,21,40,41,42,44,48,49,50,53,55,58,59,61,71) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [47]:
df_crash.head()
df_crash['CRASH_DATE'].sort_values(ascending=False)

649944    12/31/2022 12:58:00 PM
398030    12/31/2022 12:55:00 PM
29183     12/31/2022 12:53:00 PM
615888    12/31/2022 12:52:00 AM
362248    12/31/2022 12:47:00 PM
                   ...
248529    01/01/2016 01:18:00 AM
150699    01/01/2016 01:03:00 AM
109204    01/01/2016 01:00:00 AM
737528    01/01/2016 01:00:00 AM
160462    01/01/2016 01:00:00 AM
Name: CRASH_DATE, Length: 778847, dtype: object

In [51]:
df_crash['CRASH_DATE'].sort_values(ascending=False)

649944    12/31/2022 12:58:00 PM
398030    12/31/2022 12:55:00 PM
29183     12/31/2022 12:53:00 PM
615888    12/31/2022 12:52:00 AM
362248    12/31/2022 12:47:00 PM
                   ...
248529    01/01/2016 01:18:00 AM
150699    01/01/2016 01:03:00 AM
109204    01/01/2016 01:00:00 AM
737528    01/01/2016 01:00:00 AM
160462    01/01/2016 01:00:00 AM
Name: CRASH_DATE, Length: 778847, dtype: object

In [45]:
df_crash.head()

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,6c1659069e9c6285a650e70d6f9b574ed5f64c12888479...,JG387648,NaN,08/18/2023 12:50:00 PM,15,OTHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,...,1.0,0.0,1.0,0.0,12,6,8,NaN,NaN,NaN
1,5f54a59fcb087b12ae5b1acff96a3caf4f2d37e79f8db4...,JG361138,NaN,07/29/2023 02:45:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,...,0.0,0.0,1.0,0.0,14,7,7,41.854120,-87.665902,POINT (-87.665902342962 41.854120262952)
2,61fcb8c1eb522a6469b460e2134df3d15f82e81fd93e9c...,JG388133,NaN,08/18/2023 05:58:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PEDALCYCLIST,...,1.0,0.0,1.0,0.0,17,6,8,41.942976,-87.761883,POINT (-87.761883496974 41.942975745006)
3,004cd14d0303a9163aad69a2d7f341b7da2a8572b2ab33...,JC524901,NaN,11/26/2019 08:38:00 AM,25,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PEDESTRIAN,...,0.0,0.0,1.0,0.0,8,3,11,NaN,NaN,NaN
4,a1d5f0ea90897745365a4cbb06cc60329a120d89753fac...,JG387475,NaN,08/18/2023 10:45:00 AM,20,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,FIXED OBJECT,...,0.0,0.0,1.0,0.0,10,6,8,NaN,NaN,NaN

In [5]:
df_people.head()

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O749947,DRIVER,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,834816.0,09/28/2019 03:30:00 AM,NaN,CHICAGO,IL,60651,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O871921,DRIVER,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,827212.0,04/13/2020 10:50:00 PM,NaN,CHICAGO,IL,60620,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O10018,DRIVER,71162af7bf22799b776547132ebf134b5b438dcf3dac6b...,HY484534,9579.0,11/01/2015 05:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,IMPROPER BACKING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O10038,DRIVER,c21c476e2ccc41af550b5d858d22aaac4ffc88745a1700...,HY484750,9598.0,11/01/2015 08:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O10039,DRIVER,eb390a4c8e114c69488f5fb8a097fe629f5a92fd528cf4...,HY484778,9600.0,11/01/2015 10:15:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [6]:
df_vehicles.head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,1554880,91a5d08b2b701f2d37cbb52ecdbeb09579bc7f2ebc60b3...,JG223284,04/14/2023 02:05:00 PM,1,DRIVER,NaN,1478881.0,NaN,FORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,749947,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,1,DRIVER,NaN,834816.0,NaN,HONDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,749949,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,2,PARKED,NaN,834819.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,749950,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,3,PARKED,NaN,834817.0,NaN,GENERAL MOTORS CORPORATION (GMC),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1554881,91a5d08b2b701f2d37cbb52ecdbeb09579bc7f2ebc60b3...,JG223284,04/14/2023 02:05:00 PM,2,DRIVER,1.0,1478892.0,NaN,ISUZU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_crash.isna().sum()

CRASH_RECORD_ID                       0
RD_NO                              4555
CRASH_DATE_EST_I                 720341
CRASH_DATE                            0
POSTED_SPEED_LIMIT                    0
TRAFFIC_CONTROL_DEVICE                0
DEVICE_CONDITION                      0
WEATHER_CONDITION                     0
LIGHTING_CONDITION                    0
FIRST_CRASH_TYPE                      0
TRAFFICWAY_TYPE                       0
LANE_CNT                         579841
ALIGNMENT                             0
ROADWAY_SURFACE_COND                  0
ROAD_DEFECT                           0
REPORT_TYPE                       22589
CRASH_TYPE                            0
INTERSECTION_RELATED_I           600409
NOT_RIGHT_OF_WAY_I               742793
HIT_AND_RUN_I                    535597
DAMAGE                                0
DATE_POLICE_NOTIFIED                  0
PRIM_CONTRIBUTORY_CAUSE               0
SEC_CONTRIBUTORY_CAUSE                0
STREET_NO                             0
STREET_DIRECTION                      4
STREET_NAME                           1
BEAT_OF_OCCURRENCE                    5
PHOTOS_TAKEN_I                   768742
STATEMENTS_TAKEN_I               761764
DOORING_I                        776430
WORK_ZONE_I                      774318
WORK_ZONE_TYPE                   775323
WORKERS_PRESENT_I                777690
NUM_UNITS                             0
MOST_SEVERE_INJURY                 1714
INJURIES_TOTAL                     1703
INJURIES_FATAL                     1703
INJURIES_INCAPACITATING            1703
INJURIES_NON_INCAPACITATING        1703
INJURIES_REPORTED_NOT_EVIDENT      1703
INJURIES_NO_INDICATION             1703
INJURIES_UNKNOWN                   1703
CRASH_HOUR                            0
CRASH_DAY_OF_WEEK                     0
CRASH_MONTH                           0
LATITUDE                           5218
LONGITUDE                          5218
LOCATION                           5218
dtype: int64

In [37]:
df_people.isna().sum()

PERSON_ID                      0
PERSON_TYPE                    0
CRASH_RECORD_ID                0
RD_NO                      10080
VEHICLE_ID                 34155
CRASH_DATE                     0
SEAT_NO                  1364061
CITY                      464292
STATE                     446368
ZIPCODE                   568500
SEX                        27963
AGE                       498987
DRIVERS_LICENSE_STATE     707332
DRIVERS_LICENSE_CLASS     868869
SAFETY_EQUIPMENT            4777
AIRBAG_DEPLOYED            32863
EJECTION                   21013
INJURY_CLASSIFICATION        711
HOSPITAL                 1423381
EMS_AGENCY               1532314
EMS_RUN_NO               1680618
DRIVER_ACTION             349088
DRIVER_VISION             349596
PHYSICAL_CONDITION        348158
PEDPEDAL_ACTION          1677585
PEDPEDAL_VISIBILITY      1677644
PEDPEDAL_LOCATION        1677586
BAC_RESULT                348109
BAC_RESULT VALUE         1708138
CELL_PHONE_USE           1708920
dtype: int64

In [70]:
df_people['PEDPEDAL_LOCATION'].value_counts()

IN ROADWAY         14454
IN CROSSWALK       10722
UNKNOWN/NA          2727
NOT IN ROADWAY      1437
BIKEWAY             1431
BIKE LANE           1076
DRIVEWAY ACCESS      464
SHOULDER             181
Name: PEDPEDAL_LOCATION, dtype: int64

In [69]:
df_vehicles["VEHICLE_TYPE"].value_counts()

PASSENGER                                 976728
SPORT UTILITY VEHICLE (SUV)               211332
UNKNOWN/NA                                145049
VAN/MINI-VAN                               74291
PICKUP                                     49599
TRUCK - SINGLE UNIT                        29351
OTHER                                      18631
BUS OVER 15 PASS.                          16464
TRACTOR W/ SEMI-TRAILER                    14796
BUS UP TO 15 PASS.                          4175
MOTORCYCLE (OVER 150CC)                     3764
SINGLE UNIT TRUCK WITH TRAILER              2506
OTHER VEHICLE WITH TRAILER                  2072
TRACTOR W/O SEMI-TRAILER                    1959
AUTOCYCLE                                    665
MOPED OR MOTORIZED BICYCLE                   502
MOTOR DRIVEN CYCLE                           326
ALL-TERRAIN VEHICLE (ATV)                    177
FARM EQUIPMENT                                81
3-WHEELED MOTORCYCLE (2 REAR WHEELS)          56
RECREATIONAL OFF-HIGHWAY VEHICLE (ROV)        24
SNOWMOBILE                                     8
Name: VEHICLE_TYPE, dtype: int64

In [33]:
crash_columns_to_drop = ["PHOTOS_TAKEN_I","STATEMENTS_TAKEN_I","DOORING_I","WORK_ZONE_I","WORK_ZONE_TYPE","WORKERS_PRESENT_I"]

df_crash.drop(crash_columns_to_drop, axis=1, inplace=True)

In [71]:
df_vehicles["TOTAL_VEHICLE_LENGTH"].value_counts()

53.0     275
65.0     267
40.0     210
75.0     198
60.0     153
        ...
95.0       1
31.0       1
101.0      1
103.0      1
196.0      1
Name: TOTAL_VEHICLE_LENGTH, Length: 125, dtype: int64

In [35]:
df_crash.isna().sum()

CRASH_RECORD_ID                       0
RD_NO                              4555
CRASH_DATE_EST_I                 720341
CRASH_DATE                            0
POSTED_SPEED_LIMIT                    0
TRAFFIC_CONTROL_DEVICE                0
DEVICE_CONDITION                      0
WEATHER_CONDITION                     0
LIGHTING_CONDITION                    0
FIRST_CRASH_TYPE                      0
TRAFFICWAY_TYPE                       0
LANE_CNT                         579841
ALIGNMENT                             0
ROADWAY_SURFACE_COND                  0
ROAD_DEFECT                           0
REPORT_TYPE                       22589
CRASH_TYPE                            0
INTERSECTION_RELATED_I           600409
NOT_RIGHT_OF_WAY_I               742793
HIT_AND_RUN_I                    535597
DAMAGE                                0
DATE_POLICE_NOTIFIED                  0
PRIM_CONTRIBUTORY_CAUSE               0
SEC_CONTRIBUTORY_CAUSE                0
STREET_NO                             0
STREET_DIRECTION                      4
STREET_NAME                           1
BEAT_OF_OCCURRENCE                    5
NUM_UNITS                             0
MOST_SEVERE_INJURY                 1714
INJURIES_TOTAL                     1703
INJURIES_FATAL                     1703
INJURIES_INCAPACITATING            1703
INJURIES_NON_INCAPACITATING        1703
INJURIES_REPORTED_NOT_EVIDENT      1703
INJURIES_NO_INDICATION             1703
INJURIES_UNKNOWN                   1703
CRASH_HOUR                            0
CRASH_DAY_OF_WEEK                     0
CRASH_MONTH                           0
LATITUDE                           5218
LONGITUDE                          5218
LOCATION                           5218
dtype: int64

In [48]:
df_crash.join(df_people.set_index('CRASH_RECORD_ID'), on='CRASH_RECORD_ID', how="left")

ValueError: columns overlap but no suffix specified: Index(['RD_NO', 'CRASH_DATE'], dtype='object')